html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.container{
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  display: flex;
  height: 80%;
}

.entry-box{
  padding: 10px 15px;
    font-size: 20px;
    min-width: 300px;
}

.entry-button{
  padding: 10px 15px;
    font-size: 20px;
    margin-left: 15px;
}

.todo-list{
  display: flex;
    list-style-type: none;
}

.todo-list li{
  margin-left: 5px;
}

.todo-list li a{
  color: white;
}

.todo-list-ul{
  width: 50%;
  box-sizing: border-box;
  list-style-type: none;
}

.todo-list-ul li{
padding:10px;
margin:15px;
border-bottom: 1px solid #eee;
}